- content_for(:js) do
  :javascript
    App.errors = #{@errors.to_json}

%h2 Update Password
- if @token
  %p Please update your password then login normally.
= form_tag account_password_path(@org.slug), method: :put do
  - if @errors and not @errors.empty?
    %p.error There are problems with the form. Please fix the errors below and try again.
  .form-row
    = label_tag :password
    = password_field :organization, :password
  .form-row
    = label_tag :password_confirmation
    = password_field :organization, :password_confirmation
  = submit_tag "Update", class: [:btn, :'form-submit']