- content_for(:js) do
  :javascript
    App.errors = #{@errors.to_json}

%h2 Update Details
= form_tag account_details_path(@org.slug), multipart: true, method: :put do
  - if not @errors or @errors.empty?
    %p All fields are required.
  - else
    %p.error There are problems with the form. Please fix the errors below and try again.
  .form-row
    = label_tag :email
    = text_field :organization, :email
    .note This email will be used for contact and login purposes.
  .form-row
    = label_tag :name, 'Organization Name'
    = text_field :organization, :name
  .form-row
    = label_tag :contact, 'Contact Name'
    = text_field :organization, :contact
  .form-row
    = label_tag :website, 'Website'
    = text_field :organization, :website
  .form-row
    = label_tag :summary, 'Summary'
    = text_area :organization, :summary
    .note A 1 sentence summary of your organization.
  .form-row
    = label_tag :description, 'Description'
    = text_area :organization, :description
    .note A 3-5 sentence description of your organization.
  .form-row
    = label_tag :image, 'Image'
    .form-link
      %span.file-name
      %a.select-file Select Image...
    = file_field :image, :image
  .form-row
    = label_tag :tags
    .clear
    - for tag in @tags
      .tag
        = check_box_tag "tag_#{tag.name.downcase}", tag.name, false, :name => 'tags[]'
        = tag.name
  = submit_tag "Update", class: [:btn, :'form-submit']