- content_for(:js) do
  :javascript
    App.errors = #{@errors.to_json}

%h2 Organization Settings
= form_tag org_slug_path(@org.slug), method: :put, multipart: true do
  - if @errors and @errors.empty?
    %p.error There are problems with your registration form. Please fix the errors below and try again.
  .form-row
    %label
      Name
    = text_field :org, :name, placeholder: 'My Organization', value: @org.name
  .form-row
    %label Website
    = text_field :org, :website, placeholder: 'www.mywebsite.com', value: @org.website, :'data-optional' => true
  .form-row
    %label Phone Number
    = text_field :org, :phone, placeholder: '415-555-5555', value: @org.phone, :'data-optional' => true
  .form-row
    %label
      Mission
    = text_area :org, :summary, placeholder: 'itsyourdistrict.org is a comprehensive...', value: @org.summary
  .form-row
    %label
      San Francisco District
    #district.select
      %i.fa.fa-lg.fa-caret-down
      %i.fa.fa-lg.fa-caret-up
      %span.current
        District #{@org.district}
      %ul.options
        - for i in (1..11)
          %li{:'data-value' => i} District #{i.to_s}
    = hidden_field :org, :district, value: @org.district
    .note
      = link_to 'Click here to find your district.', 'http://propertymap.sfplanning.org/?name=sffind',
        target: '_blank'
  .form-row
    %label
      Image
    .form-link
      %span.file-name
      %a.select-file Select Image...
    = file_field :image, :image, :'data-optional' => true
    .note This will replace your organization's existing image.
  .form-row
    = label_tag :tags
    .clear
    - for tag in @tags
      .tag
        = check_box_tag "tag_#{tag.name.downcase}", tag.name, @org.tags.include?(tag), name: 'tags[]'
        = tag.name
  = submit_tag "Save", class: [:btn, :'form-submit']