- content_for(:js) do
  :javascript
    App.errors = #{@errors.to_json}

%h2 Register Organization
= form_tag org_path, multipart: true do
  - if not @errors or @errors.empty?
    %p 
      Fields marked
      %strong *
      are required.
  - else
    %p.error There are problems with your registration form. Please fix the errors below and try again.
  .form-row
    %label 
      Contact Name
      %strong *
    = text_field :user, :name, placeholder: 'Jane Doe'
  .form-row
    %label
      Email
      %strong *
    = text_field :user, :email, placeholder: 'myname@mywebsite.com'
  .form-row
    %label
      Password
      %strong *
    = password_field :user, :password
  .form-row
    %label
      Password Confirmation
      %strong *
    = password_field :user, :password_confirmation
  .form-row
    %label
      Organization Name
      %strong *
    = text_field :org, :name, placeholder: 'My Organization'
  .form-row
    %label Website
    = text_field :org, :website, placeholder: 'www.mywebsite.com', :'data-optional' => true
  .form-row
    %label Phone Number
    = text_field :org, :phone, placeholder: '415-555-5555', :'data-optional' => true
  .form-row
    %label
      Mission
      %strong *
    = text_area :org, :summary, placeholder: 'It\'s Your District is a comprehensive...'
    .note A brief statement of your organization's Mission.
  .form-row
    %label
      San Francisco District
      %strong *
    #district.select
      %i.fa.fa-lg.fa-caret-down
      %i.fa.fa-lg.fa-caret-up
      %span.current
        Select A District...
      %ul.options
        - for i in (1..11)
          %li{:'data-value' => i} District #{i.to_s}
    = hidden_field :org, :district
    .note
      = link_to 'Click here to find your district.', 'http://propertymap.sfplanning.org/?name=sffind',
        target: '_blank'
  .form-row
    %label
      Image
      %strong *
    .form-link
      %span.file-name
      %a.select-file Select Image...
    = file_field :image, :image
  .form-row
    %label Categories
    .clear
    - for tag in @tags
      .tag
        = check_box_tag "tag_#{tag.name.downcase}", tag.name, false, :name => 'tags[]'
        = tag.name
  = submit_tag "Register", class: [:btn, :'form-submit']