- if @org_url
  - content_for(:notice) do
    %h2 Welcome to It's Your District!
    %p 
      If you have any questions, please
      = link_to "contact us.", contact_path + '?slug=it-s-your-district', remote: true
      
- if @is_owner
  - content_for(:notice) do
    %p
      You are the owner of this page. Click the button below to update your organization's information.
    .center
      = link_to "Edit Details", org_edit_path(@org.slug), remote: true, class: :btn

.cover.large{style: "background-image: url(#{@org.images.last.image.url});"}
  .title
    .name= @org.name
  .tags
    - @org.tags.each do |tag|
      = link_to tag.name, root_path + '#' + tag.name, class: 'tag'

.org-info
  .col-1-2
    %h3 Information
    %ul
      %li= @org.location
      %li= link_to @org.short_website, @org.website, target: '_blank'

  .col-1-2
    %h3 Contact
    %ul
      %li= @org.user.name
      %li=mail_to @org.user.email

  .clear.buffer

  %h3 Mission
  %p= @org.summary
  
  .buffer
  .center
    = link_to "Contact", @org.contact, remote: true, class: :btn