- if @welcome
  - content_for(:notice) do
    %h2 Welcome to It's Your District!
    %p
      You have signed up and your page is live. 
      / Feel free to share the URL:
      / = link_to org_slug_path(@org.slug), org_slug_path(@org.slug)
    %p 
      If you have any questions, please
      = link_to "contact us!", contact_path + '?slug=it-s-your-district', remote: true

.cover.large{style: "background-image: url(#{@org.images.first.image.url});"}
  .title= @org.name
  .tags
    - @org.tags.each do |tag|
      = link_to tag.name, root_path + '#' + tag.name, class: 'tag'

.org-info
  .col-1-2
    %h3 Information
    %ul
      %li= @org.location
      %li= link_to @org.short_website, @org.website, target: '_blank'

  .col-1-2
    %h3 Contact
    %ul
      %li= @org.contact
      %li=mail_to @org.email

  .clear.buffer

  %h3 Mission
  %p= @org.summary
  
  .buffer
  .center
    = link_to "Contact", contact_path + "?slug=#{@org.slug}", remote: true, class: :btn