- user = current_user

%ul.nav{class: user.nil? ? '' : 'logged-in'}
  %li.social= link_to 'Facebook', 'https://www.facebook.com/itsyourdistrict', target: '_blank'
  %li.social= link_to 'Twitter', 'https://twitter.com/itsyourdistrict', target: '_blank'
  %li.login= link_to 'Login', login_path, remote: true
  %li.register= link_to 'Register', org_path, remote: true
  %li.user
    %a
      %span.email
        = user.nil? ? '' : user.email
      &nbsp;
      %span.caret-up &and;
      %span.caret-down &or;
  .clear

%ul#user-menu
  - if user and user.role == 1
    %li= link_to 'Admin Functions', admin_path
  %li.org-link
    %a{href: user.nil? ? '' : user.organization.profile}
      %span>= user.nil? ? '' : user.organization.name
      's Page
  %li.settings= link_to 'User Settings', account_path, remote: true
  %li.password= link_to 'Change Password', account_password_path, remote: true
  %li.logout= link_to 'Logout', logout_path, method: :delete, remote: true