- user = current_user

%ul.nav{class: user.nil? ? '' : 'logged-in'}
  %li.left.social
    = link_to 'https://www.facebook.com/itsyourdistrict', target: '_blank' do
      %i.fa.fa-2x.fa-facebook
  %li.left.social
    = link_to 'https://twitter.com/itsyourdistrict', target: '_blank' do
      %i.fa.fa-2x.fa-twitter
  %li.donate.left
    = link_to 'Donate!',
      'https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=G74PM8WQZ899G', target: '_blank'
  %li.login= link_to 'Login', login_path, remote: true
  %li.register= link_to 'Register', org_path, remote: true
  %li.user
    %a
      %span.email
        = user.nil? ? '' : user.email
      &nbsp;
      %i.fa.fa-caret-down
      %i.fa.fa-caret-up
  %li= link_to 'About Us', about_path
  %li
    %b= link_to 'Volunteer Opportunities', opportunities_path
  .clear

%ul#user-menu
  - if user and user.role == 1
    %li= link_to 'Admin Functions', admin_path
  %li.org-link
    %a{href: user.nil? ? '' : user.organization.profile}
      %span>= user.nil? ? '' : user.organization.name
      's Page
  %li.settings= link_to 'User Settings', account_path, remote: true
  %li.password= link_to 'Change Password', account_password_path, remote: true
  %li.logout= link_to 'Logout', logout_path, method: :delete, remote: true