!!!
%html

  %head
    %title= content_for?(:title) ? yield(:title) : 'It\'s Your District!'
    = stylesheet_link_tag :application, media: "all", :'data-turbolinks-track' => true
    %link{href: 'http://fonts.googleapis.com/css?family=Roboto:400,700|Sanchez:400italic,400', rel:'stylesheet', type:'text/css'}
    = csrf_meta_tags
    = yield(:head)
    
  %body
    #overlay
      .close
      .content
    - if content_for?(:header)
      = content_for(:header)
    - else
      = render 'layouts/header'
    #content
      - if content_for?(:notice)
        #notice
          = yield(:notice)
      = yield
    = render 'layouts/footer'
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = yield(:js)