- content_for(:js) do
  :javascript
    App.errors = #{@errors.to_json}

%h2 Update Password
- if @token
  %p.buffer Please update your password then login normally.
= form_tag account_password_path, method: :put do
  - if @errors and not @errors.empty?
    %p.error There are problems with the form. Please fix the errors below and try again.
  .form-row
    = label_tag :current_password
    = password_field :user, :current
  .form-row
    = label_tag :new_password
    = password_field :user, :password
  .form-row
    = label_tag :new_password_confirmation
    = password_field :user, :password_confirmation
  = submit_tag "Update", class: [:btn, :'form-submit']